h1 {
  display: flex;
  justify-content: center; 
}

#calc {
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 15px;
}

#show {
    text-align: right;
    font-size: 2rem;
    margin: 15px;
    
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #88A09E;
  width: 20vw;
}
.center {
  width: 50vw;
}

